Source: furios-phosh-plugins
Section: libs
Priority: optional
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Build-Depends: debhelper-compat (= 13),
               libphosh-0.45-dev,
               libgweather-4-dev,
               libgeoclue-2-dev,
               meson,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/furios-phosh-plugins
Vcs-Git: https://github.com/furilabs/furios-phosh-plugins.git

Package: furios-phosh-plugins
Architecture: any
Pre-Depends: phosh-plugins
Depends: wf-recorder,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ffmpeg,
            libnotify-bin,
            pulseaudio-utils
Description: Phosh plugins for FuriOS
